*{
  user-select:none;
  -webkit-user-select: none;
}


body{
  margin:0;
  overflow:hidden;
}
h1{
  margin:0;
  padding:0;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  padding:0;
}
#topbar{
  background:#CCC;
  height:20px;
  width:100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
#close {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 2px;
  width: 14px;
  height: 14px;
  padding: 2px;
  top: 2px;
  text-align: center;
  font-size: 8px;
  line-height: 8px;
}

#maximize {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 19px;
  width: 14px;
  height: 14px;
  padding: 0px;
  padding-bottom: 4px;
  top: 2px;
  text-align: center;
  font-size: 14px;
  line-height: 0px;
}

#minimize {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 36px;
  width: 14px;
  height: 14px;
  padding: 2px;
  top: 2px;
  text-align: center;
  font-size: 8px;
  line-height: 0px;
}

#helper {
  background:transparent;
  position:absolute;
  top:25px;
  left:0px;
  font-size: 16px;
}
#helper ul{
  list-style: none;
  color: rgba(255,255,255,0.8);
  margin:0;
  padding:0;
  margin-left:5px;
}

#helper ul li span{
  font-style: italic;
  color:rgba(250,250,250,0.8)
}

#sceneTitle {
  position: absolute;
    left: 0px;
    top: 14px;
}

#scene {
  list-style: none;
    position: absolute;
    top: 2px;
    left: 10px;
}

#systemTitle {
      position: absolute;
    left: 0px;
    top: 28px;
}

#system {
  list-style: none;
    position: absolute;
    top: 15px;
    left: 20px;
}


#time {
  font-size: 28px;
  background: transparent;
  position: absolute;
  right: 5px;
  top:50px;
  color: #FFFFFF;
}

#date {
  font-size: 28px;
  background: transparent;
  position: absolute;
  right: 5px;
  color: #FFFFFF;
}