body{
  margin:0;
  overflow:hidden;
}
h1{
  margin:0;
  padding:0;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  padding:0;
}
#topbar{
  background:#CCC;
  height:20px;
  width:100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
#close {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 2px;
  width: 14px;
  height: 14px;
  padding: 2px;
  top: 2px;
  text-align: center;
  font-size: 8px;
  line-height: 8px;
}

#minimize {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 22px;
  width: 14px;
  height: 14px;
  padding: 2px;
  top: 2px;
  text-align: center;
  font-size: 8px;
  line-height: 0px;
}

#debug{
  position: absolute;
  background: rgba(255,255,255,0.1);
  top: 20px;
  width: 100%;
  color: #FFF;
  font-size: 12px;
}

#debug ul{
  list-style: none;
  margin:0;
  padding:0;
  position: absolute;
  left: 30px;
  top: 0px;
}

#debug li{
  margin:1px 3px 0px 0px;
  padding:0;
  float:left;
}

.debugTitle{
  font-size: 14px;
}

.hide{
  display: none;
}
